<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="shortcut icon" type="image/png" href="/images/flashicon.png">
    <title>Holds</title>
</head>
<body>
    <nav class="grid-nav sticky">
    <% if(!currentUser) {%>
        <div class="nav-box">
            <a href="/login">
                <img src="/images/user.svg" width="30px" height="30px">
            </a>
        </div>
        <!-- <div class="nav-box">
            <a href="/register" style="color:rgb(148, 148, 148);">Register</a>
        </div> -->
    <% } else {%> 
        <div class="nav-box">
            <a href="/breathholds">
                <img src="/images/user.svg" width="30px" height="30px">
            </a>
        </div>
    <% } %>
        <div class="nav-box">
            <a href="/">
                <img src="/images/newlogo.png" width="auto" height="30px">
            </a>
        </div>
        <div class="nav-box">
            <a href="/breathholds/timer">
                <img src="/images/timerplus.svg" width="30px" height="30px">
            </a>
        </div>
    </nav>
    <div class="main-container">
        <% for (let breathhold of breathholds) {%> 
        <div class="grid-container">
            <div class="grid-name name">
                <p><%= `${breathhold.name.toUpperCase()}`%>  </p>
            </div>
            <div class="grid-status status-text">
                <% if (breathhold.duration > breathhold.prevRecord) {%>
                    <p style="color: #ffb446;">NEW RECORD</p>
                <% } else if(breathhold.duration > breathhold.prevHold) { %> 
                    <p style="color: #00ff85;">UP <%= breathhold.holdChange %>% </p>
                <% } else if (breathhold.duration < breathhold.prevHold) { %>
                    <p style="color: #ff4242;">DOWN <%= breathhold.holdChange %>%</p>
                <% } else {%>
                    <p style="color:rgb(148, 148, 148);">NO CHANGE</p>
                <% } %> 
            </div>
            <div class="grid-profile">   

                <% if (breathhold.name === "Joe Doll") { %> 
                <img src="/images/profileiconblue.svg" alt="">

                <% } else if (breathhold.name === "JJ Saavedra") { %> 
                    <img src="/images/profileiconyellow.svg" alt="">

                <% } else if (breathhold.name === "Jason Wolfe") { %>
                    <img src="/images/profileiconpurple.svg" alt=""> 

                <% } else { %>
                    <img src="/images/profileiconorange.svg" alt="">
                <% } %>  

            </div>
            <div class="grid-comments comments">
                <p><%= `${breathhold.comments}`%>  </p>
            </div>
            <div class="grid-duration duration">
                <a href="/breathholds/<%= breathhold._id %> " class="duration">
                    <p><%= `${breathhold.duration}` %> </p>
                </a>
            </div>
            <div class="grid-status-icon">
                <% if (breathhold.duration > breathhold.prevRecord) {%>
                    <img src="/images/fire.svg" alt="">
                <% } else if (breathhold.duration > breathhold.prevHold) { %> 
                    <img src="/images/uparrow.svg" alt="">
                <% } else if (breathhold.duration < breathhold.prevHold) { %>
                    <img src="/images/downarrow.svg" alt="">
                <% } else { %>
                    <img src="/images/nochange.svg" alt="">
                <% } %>
            </div>
        </div>
        <% } %>
    </div> 
    <script src="/javascripts/validateForms.js"></script>
    
</body>
</html>